.nav-container{
    width: 125px;
    height: 100vh;
    background-image: linear-gradient(#FFD670, #FF9770, #FF70A6);
    position: absolute;
    left: 0;
    top:0;
    box-shadow: 6px 0px 9px -1px rgba(0,0,0,0.75);
}